.hero-body
  .is-index
    .title
      font-size: 15vw
    .subtitle
      font-size: 4vh
    p
      font-size: 3vh
      font-weight: 200
      line-height: 2
      a
        font-weight: 800
        text-decoration: underline

.hero
  &.is-index
    background-image: url('../images/elenore-bg.png')
    background-position: top right
    background-repeat: no-repeat
    background-size: 45%
