$box: $text !default
$box-background: $white !default
$box-radius: $radius !default
$box-shadow: 0 1px 2px rgba(37, 40, 43, 0.1)
$box-border-color: 1px solid rgba(37, 40, 43, 0.1)
$box-padding: 1.25rem !default

$box-link-hover-shadow: 0 1px 2px rgba(37, 40, 43, 0.2)
$box-border-active-color: 1px solid $primary

.box
  +block
  background-color: $box-background
  border-radius: $box-radius
  border: $box-border-color
  box-shadow: $box-shadow
  color: $box
  display: block
  padding: $box-padding

a.box
  &:hover,
  &:focus
    box-shadow: $box-link-hover-shadow
  &:active
    border: $box-border-active-color
