# Files
.DS_Store
.jekyll-metadata
_config.local.yml
_config.version.yml
elenore-test.sass
elenore-website-local.sass
css/elenore-test.css
css/elenore-docs.css.map
npm-debug.log

# Folders
.sass-cache
/Elenore
/icons
/styles/node_modules
_site
