# Files
.DS_Store
.jekyll-metadata
_config.local.yml
Elenore-test.sass
Elenore-website-local.sass
css/Elenore-test.css
npm-debug.log

# Folders
.sass-cache
/Elenore
/fontawesome
/styles/node_modules
_site
